.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-item img {
    padding: 20px;
    width: 82px;
    height: 88px;
}

.quantityBtn {
    background-color: #ddd;

    border: none;
    border-radius: 5px;

    padding: 5px 10px;
    margin: 0 7px;

    cursor: pointer;
}

.total {
    color: #333;
    text-align: right;

    font-size: 20px;
    font-weight: bold;
}


@media only screen and (max-width: 600px){
    .cart-table tr {
        overflow-x: scroll !important;
        /* border: 10px solid; */
    }
}