.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    padding: 30px 0;
}

.card {
    width: 20vw;

    border: 1px solid #d2cccc;
    border-radius: 7px;

    margin: 20px 6px;
    padding: 11px;
}

.image {
    display: flex;
    justify-content: center;

    margin: 20px 0;
}

.image img {
    width: 130px;
    height: 150px;
}

.details {
    margin: 0 0 30px;
}

.add-item {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7px;
    margin-top: 20px;
}

.add-item p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.add-item button {
    background-color: #ddd;

    border: none;
    border-radius: 5px;

    padding: 5px 12px;
    margin: 0 7px;

    cursor: pointer;
}